body{
	max-width: 100%;
	overflow-x: hidden;
}
h1{
	text-align: center;
}
#container{
	font-family: 'Roboto', sans-serif;

}
.select-labels, .select-labels option{
	width: 10em;
	padding: .5em;
	outline: 0;
	border: 1px solid grey;
}
#text-input{
	width: 43%;
	height:15em;
	font-family: inherit;
	border: 1px solid grey;
}

button{
	padding: .5em;
	font-size: 16px;
	background: #fcd568;
	color: white;
	border:none;
	outline: none;
	box-shadow: 2px 2px grey;
}
button:hover{
	background: #e3bd54;
}
@media (max-width : 850px){
	#select-container{
		text-align: center;
		align-content: center;
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}